    @model CreateSneaker

@{
    ViewBag.Title = $"{ViewBag.CategoryName} | Create";
}
<h3 style="font-family:fantasy">Create Sneaker</h3>
<p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<form asp-controller="Sneaker" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SneakerName" class="control-label"></label>
                <input asp-for="SneakerName" class="form-control" />
                <span asp-validation-for="SneakerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishYear" class="control-label"></label>
                <input asp-for="PublishYear" class="form-control" />
                <span asp-validation-for="PublishYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />   
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <img class="img-thumbnail no-photo" src="~/images/no-photo.jpg" alt="no photo" />
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" accept="image/*" id="exampleInputFile" name="Photo">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a  asp-controller="Sneaker" asp-action="Index" asp-route-traId="@ViewBag.TradeMarkId" class="btn btn-dark"> <i class="lnr lnr-chevron-left"></i>Back to List</a>
</div>

@section Scripts {
    <script asp-append-version = "true">
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $('.no-photo').attr('src', window.URL.createObjectURL($(this)[0].files[0]));
            $(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>   
}
